body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

#book-preview {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#book-preview li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  text-align: center;
}

#book-preview p {
  margin-top: 0;
}

#book-preview img {
  width: 250px;
}

/* SINGLE BOOK */

.single-book {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.info {
  width: 35%;
}
.book-cover {
  width: 55%;
}

.book-cover img {
  height: 600px;
}

/* Add your own custom styles here */
